{% extends "base.html" %}
{% block content %}

	<div class="row">
		<div class="col-md-6">
		    <table class="table table-hover">
		    	<thead>
		   		<tr>
		   			<th scope="col">Next Contact</th>
		   			<th scope="col">Name</th>
		   			<th scope="col">Connection</th>
		   			<th scope="col">update</th>
		   			<th scope="col">detail</th>
		   		</tr>
		   		</thead>
				<tbody>
		   	{% for contact in object_list %}
		   		<tr>
		   			<td>{{contact.next_call }}</td>
		   			<td><a href="{% url 'tocall:contact_detail' contact.id %}">{{ contact.full_name }}</a> </td>
		   			<td>{{ contact.introduced_by }}</td>
		   			<td><a href="{% url 'tocall:contact_update' contact.id %}">update</a> </td>
   					<td><a href="{% url 'tocall:history_list' contact.id %}">detail</a> </td>
		   		</tr>
		   	{% endfor %}
		   		</tbody>
		    </table>
		    <hr/>
		</div>
	</div>

<br /><br /><br /><br /><hr />
<small>this page is contact_list.html</small>
{% endblock %}