{% extends "base.html" %}
{% block content %}

{% if contact %}
   	<h1>{{ contact.full_name }}</h1>
   	<div class="row">
   		<div class="col-md-5">
		   	<dl class="dl-horizontal">
		   		<dt>next contact:</dt><dd> {{ contact.next_call }}</dd>
		   		<dt>email:</dt><dd> <a href="mailto:{{ contact.email }}">{{ contact.email }}</a></dd>
		   		<dt>url:</dt><dd> <a href="{{ contact.url }}">{{ contact.url }}</a></dd>
		   		<dt>mobile:</dt><dd> {{ contact.mobile }}</dd>
		   		<dt>office:</dt><dd> {{ contact.office }}</dd>
		   		<dt>created at:</dt><dd> {{ contact.created_at }}</dd>
		   		<dt>updated at:</dt><dd> {{ contact.updated_at }}</dd>
		   	</dl>
		</div>
   		<div class="col-md-4">
		   	<dl class="dl-horizontal">
		   		<dt>company:</dt><dd> {{ contact.company }}</a></dd>
		   		<dt>role:</dt><dd> {{ contact.role }}</a></dd>
		   		<dt>introduced by:</dt><dd> {{ contact.introdued_by }}</dd>
		   		<dt>note:</dt><dd> {{ contact.note }}</dd>
		   		<dt>id:</dt><dd> {{ contact.id }}</dd>
		   	</dl>
		</div>
   	</div>
   	<div class="row">
   		<div class="col-md-4">
    		<a class="btn btn-primary btn-lg" role="button">Post</a>
    	</div>
   		<div class="col-md-4 col-md-offset-4">
		    <a class="btn btn-danger btn-sm" role="button">Edit contact</a>
		</div>
	</div>

{% else %}
    <p>Egad. Nothing here. contact is empty.</p>
{% endif %}
{% if history %}
	<h3>history</h3>
	<div class="row">
		<table class="table table-condensed">
			{% for item in history %}
				<tr>
					<td>{{ item.contacted_at }}</td>
					<td>{{ item.write_up }}</td>
					<td>a</td>
					<td><a href="{% url 'tocall:history_item' item.id %}">{{ item.id }}</a></td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% else %}
    <p>Egad. Nothing here. history is empty.</p>
{% endif %}
	<hr />
	<div class="row">
	<ul class="list-unstyled">
		<div class="col-md-3">
		<li><i class="fa fa-envelope-o"></i> email sent</li>
		<li><i class="fa fa-envelope"></i> email recieved</li>
		<li><i class="fa fa-linkedin-square"></i> email Linkedin</li>
		</div>
		<div class="col-md-3">
		<li><i class="fa fa-phone"></i> call out</li>
		<li><i class="fa fa-phone-square"></i> call recieved</li>
		<li><i class="fa fa-volume-up"></i> voice mail</li>
		</div>
		<div class="col-md-3">
		<li><i class="fa fa-file-text-o"></i> message</li>
		<li><i class="fa fa-file-o"></i> no message</li>
		<li><i class="fa fa-warning"></i> no answer</li>
		</div>
		<div class="col-md-3">
		<li><i class="fa fa-users"></i> meeting</li>
		</div>
	</ul>
	</div>

{% endblock %}