{% extends "base.html" %}
{% block content %}

{% if contact %}
   	<div class="row">
   		<div class="col-md-4">
		   	<h1>{{ contact.full_name }}</h1>
		   	<dl class="dl-horizontal">
		   		<dt>next contact:</dt><dd> {{ contact.next_call }}</dd>
		   		<dt>email:</dt><dd> <a href="mailto:{{ contact.email }}">{{ contact.email }}</a></dd>
		   		<dt>mobile:</dt><dd> {{ contact.mobile }}</dd>
		   		<dt>office:</dt><dd> {{ contact.office }}</dd>
		   	</dl>
		</div>
   		<div class="col-md-5">
		   	<dl class="dl-horizontal">
		   		<dt>url:</dt><dd> <a href="{{ contact.url }}">{{ contact.url }}</a></dd>
		   		<dt>company:</dt><dd> {{ contact.company }}</a></dd>
		   		<dt>role:</dt><dd> {{ contact.role }}</a></dd>
		   		<dt>introduced by:</dt><dd> {{ contact.introdued_by }}</dd>
		   		<dt>note:</dt><dd> {{ contact.note }}</dd>
		   		<dt>created at:</dt><dd> {{ contact.created_at }}</dd>
		   		<dt>updated at:</dt><dd> {{ contact.updated_at }}</dd>
		   		<dt>id:</dt><dd> {{ contact.id }}</dd>
		   	</dl>
		</div>
   	</div>
   	<hr />

   	<div class="row">
   		<div class="col-md-4">
    		<a class="btn btn-primary btn-lg" role="button">Post</a>
    		<a href="{% url 'tocall:history_create' contact.id %}">Add History</a>
    	</div>
   		<div class="col-md-4 col-md-offset-4">
		    <a class="btn btn-danger btn-sm" role="button">Edit contact</a>
		</div>
	</div>

{% else %}
    <p>Egad. Nothing here. contact is empty.</p>
{% endif %}

{% if history %}
	<h3>{{ contact.full_name }} history</h3>
	<div class="row">
		<table class="table table-condensed">
			{% for item in history %}
				<tr>
					<td>
						{% if item.email_out %}<i class="fa fa-envelope-o"></i> sent{% endif %}
						{% if item.email_in %}<i class="fa fa-envelope"></i> rec{% endif %}
						{% if item.email_linkedin %}<i class="fa fa-linkedin-square"> email</i> {% endif %}
						{% if item.call_out %}<i class="fa fa-phone"></i> call{% endif %}
						{% if item.call_in %}<i class="fa fa-phone-square"></i> called me{% endif %}
						{% if item.voice_mail %}<i class="fa fa-volume-up"></i> vm{% endif %}
						{% if item.message %}<i class="fa fa-file-text-o"></i> msg{% endif %}
						{% if item.no_message %}<i class="fa fa-file-o"></i> no msg{% endif %}
						{% if item.no_answer %}<i class="fa fa-warning"></i> NA{% endif %}
						{% if item.meeting %}<i class="fa fa-users"></i> Met{% endif %}
					</td>
					<td>{{ item.write_up }}</td>
					<td><a href="{% url 'tocall:history_item' item.id %}">{{ item.contacted_at }}</a></td>
					<td><a href="{% url 'tocall:history_update' item.id %}">{{ item.id }}</a></td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% else %}
    <p>Egad. Nothing here. history is empty.</p>
{% endif %}
	
{% include "iconkey.html" %}

<span class="fa-stack fa-lg">
  <i class="fa fa-cloud fa-stack-1x"></i>
  <i class="fa fa-bars fa-rotate-90 fa-stack-1x"></i>
</span>

{% endblock %}