{% extends "base.html" %}
{% block content %}


<hr />
<h6>old junk below</h6>
{% if contact %}
   	<h1>{{ history.contact.full_name }}</h1>
   	{% load crispy_forms_tags %} 

   	<form action="{% url 'tocall:history_list' %}" method="post" class="bootstrap3">
   		{% csrf_token %}
   		{{ form.as_ul }}
   		<input type="submit" value="Submit" />
   	</form>
 	
   		id:  {{ contact.id }}
   	
{% else %}
    <p>Egad. WTF!!!! Nothing here. history is empty. History create form</p>
{% endif %}
{% include "iconkey.html" %}

{% endblock %}

