{% extends "base.html" %}
{% block content %}


{% if contact %}
   	<h1>{{ history.contact.full_name }}</h1>
   	{% load crispy_forms_tags %} 
      <table>
   	<form action="" method="post" class="bootstrap3">
   		{% csrf_token %}
   		{{ form.as_table }}
   		<input type="submit" value="Submit" />
   	</form>
      </table>
 	
   		Contact id:  {{ contact.id }}
   	
{% else %}
    <p>Egad. WTF!!!! Nothing here. history is empty. History create form</p>
{% endif %}
{% include "iconkey.html" %}

{% endblock %}

