<!-- This is the contact_head -->
 	<div class="row">
   		<div class="col-md-4">
		   	<h1>{{ contact.full_name }}</h1>
		   	<dl class="dl-horizontal">
		   		<dt>next contact:</dt><dd> {{ contact.next_call }}</dd>
		   		<dt>email:</dt><dd> <a href="mailto:{{ contact.email }}" target="_blank">{{ contact.email }}</a></dd>
		   		<dt>mobile:</dt><dd> {{ contact.mobile }}</dd>
		   		<dt>office:</dt><dd> {{ contact.office }}</dd>
		   	</dl>
		</div>
   		<div class="col-md-5">
		   	<dl class="dl-horizontal">
		   		<dt>url:</dt><dd> <a href="{{ contact.url }}">{{ contact.url }}</a></dd>
		   		<dt>company:</dt><dd> {{ contact.company }}</a></dd>
		   		<dt>role:</dt><dd> {{ contact.role }}</a></dd>
		   		<dt>introduced by:</dt><dd> {{ contact.introduced_by }}</dd>
		   		<dt>note:</dt><dd> {{ contact.note }}</dd>
		   		<dt>created at:</dt><dd> {{ contact.created_at }}</dd>
		   		<dt>updated at:</dt><dd> {{ contact.updated_at }}</dd>
		   		<dt>id:</dt><dd> {{ contact.id }}</dd>
		   	</dl>
		</div>
   	</div>
   	<hr />
