{% extends "base.html" %}
{% block content %}

<h1>Contact Update   <a href="{% url 'tocall:contact_list' %}" class="btn btn-info btn-sm" role="button">back to list</a> </h1>

	<table>
	<form action="" method="post">{% csrf_token %}
	{{ form.as_table }}
	<input type="submit" value="Update" class="btn btn-primary btn-sm" role="button"/>
	</form>
	</table>
  Contact id: {{ contact.id }} <br />

{% if form.subject.errors %}
	<h1>Error City</h1>
    <ol>
    {% for error in form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
{% endif %}
<br /><br /><br /><br /><hr />
<small>contact_update_form.html</small>
{% endblock %}

<!-- from django snippets -->
{% if debug %}
<div id="debug">
  <h2>Queries</h2>
  <p>
    {{ sql_queries|length }} Quer{{ sql_queries|pluralize:"y,ies" }}
    {% ifnotequal sql_queries|length 0 %}
    (<span style="cursor: pointer;" onclick="var s=document.getElementById('debugQueryTable').style;s.display=s.display=='none'?'':'none';this.innerHTML=this.innerHTML=='Show'?'Hide':'Show';">Show</span>)
    {% endifnotequal %}
  </p>
  <table id="debugQueryTable" style="display: none;">
    <col width="1"></col>
    <col></col>
    <col width="1"></col>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">SQL</th>
      <th scope="col">Time</th>
    </tr>
    </thead>
    <tbody>
    {% for query in sql_queries %}<tr class="{% cycle odd,even %}">
      <td>{{ forloop.counter }}</td>
      <td>{{ query.sql|escape }}</td>
      <td>{{ query.time }}</td>
    </tr>{% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
