{% extends "base.html" %}
{% load crispy_forms_tags %} 
{% block content %}

{% if contact %}
{% include "contact_head.html" %}


    <table>
      <form action="" method="post" class="bootstrap3">
         {% csrf_token %}
         {{ form.as_table }}
         <input class="btn btn-primary btn-sm" type="submit" value=" Post " role="button" />
      </form>
    </table>


<hr />
      
   		Contact id:  {{ contact.id }}
   	
{% else %}
    <p>Egad. WTF!!!! Nothing here. contact is empty. </p>
{% endif %}

{% if past %}
   <h3>{{ past.contact.full_name }} history</h3>
   <div class="row">
      <table class="table table-condensed">
         {% for item in history %}
            <tr>
               <td>
                  {% if item.email_out %}<i class="fa fa-envelope-o"></i> sent{% endif %}
                  {% if item.email_in %}<i class="fa fa-envelope"></i> rec{% endif %}
                  {% if item.email_linkedin %}<i class="fa fa-linkedin-square"> email</i> {% endif %}
                  {% if item.call_out %}<i class="fa fa-phone"></i> call{% endif %}
                  {% if item.call_in %}<i class="fa fa-phone-square"></i> called me{% endif %}
                  {% if item.voice_mail %}<i class="fa fa-volume-up"></i> vm{% endif %}
                  {% if item.message %}<i class="fa fa-file-text-o"></i> msg{% endif %}
                  {% if item.no_message %}<i class="fa fa-file-o"></i> no msg{% endif %}
                  {% if item.no_answer %}<i class="fa fa-warning"></i> NA{% endif %}
                  {% if item.meeting %}<i class="fa fa-users"></i> Met{% endif %}
               </td>
               <td>{{ item.write_up }}</td>
               <td><a href="{% url 'tocall:history_detail' item.id %}">{{ item.contacted_at }}</a></td>
               <td><a href="{% url 'tocall:history_update' item.id %}">{{ item.id }}</a></td>
            </tr>
         {% endfor %}
      </table>
   </div>
{% else %}
    <p>Egad. Nothing here. history is empty.</p>
{% endif %}
<hr />
history_create_form.html
{% include "iconkey.html" %}

{% endblock %}

